#container-login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 50vh;
    margin: auto;
  }
  .container-row{
    margin-bottom: 16px;
    height: 40px;
  }
  :host ::ng-deep .p-inputtext{
    border: 1px solid #DFDFDF!important;
    width: 100%!important;
  }

  